.venv/
__pycache__/
*.pyc
.env
logs/
.vscode/
node_modules/
frontend/node_modules/
frontend/dist/
.pytest_cache/
.DS_Store
server/energyplus/output/run_*
server/energyplus/output/*.sql
server/outputs/run_*
server/energyplus/modified_idf/*
!server/energyplus/modified_idf/.gitkeep